/* COLOR SCHEME
dark gray rgb(74, 73, 73)
dark green rgba(2, 54, 2)
whitesmoke
black
darkslategray
lightgray
lightgreen
*/

#root {
  max-width: 100%;
  margin: 5px;
}

/**********************************************************
                                            TAGS
**********************************************************/
body{
  background-image: url("/src/assets/pexels-element-digital-1470171.jpg");
  background-size: cover;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
button{
  border-radius: 5px;
  background-color: rgb(74, 73, 73);
  border: 1px solid rgba(2, 54, 2);
  padding: 5px;
  height:fit-content;
  width:fit-content;
  margin-top:3px;
}
h1{
  color:whitesmoke;
  background-color: black;
  border-top:2px darkslategray solid;
  border-bottom: 2px darkslategray solid;
  padding: 2%;
  font-weight: 500;
  margin: 0;
  width: 86%;
}
h3{
  white-space: nowrap;
  margin:3%;
}
input, textarea{
  background-color:  lightgray;
  color: black;
  padding:3%;
  margin:2%;
  border-radius: 10px;
  border:none;
  width:100%;
  height:fit-content;
}
input[type=checkbox]{
  opacity: 0;
}
input[type=checkbox]:hover{
  cursor: pointer;
}
p{
  margin-top:2px;
  margin-bottom:2px;
}
table, tr{
    border: 1px solid darkslategray;
    border-collapse: collapse;
    /* border-color: darkslategray; */
}
table{
  width:90%;
  width:fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
td{
  padding:0 1%;
  word-wrap:normal;
}
thead{
  border-bottom:1px lightgray dotted;
}

/**********************************************************
                                            IDs
**********************************************************/
#addItemForm{
  background-color: darkslategray;
  padding: 2% 0;
  display: flex; 
  justify-content:space-evenly;
  margin-bottom:5px;
  border:2px black solid;
  border-radius: 10px;
}
#check{
  padding:2% 0 0 0;
}
/* #edit{
  font-size: 1.25rem;
  color:white;
} */
#editBtn:hover{
  color:lightgreen;
}
#editBtn{
  border:none;
  background-color: rgba(3, 49, 3, 0);
}
#editButtons{
  display:flex;
  justify-content: space-around;
  padding:5%;
}
#editForm{
  margin: 7px;
  flex:2;
  display:inline-block;
  text-align:left;
  width:100%;
}
#editItemPage{
  padding:7%;
  border-radius: 10px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}
#editTitle{
  flex:1;
  margin-bottom: 10px;
}
#gobackBtn{
  padding:0 2px;
  font-weight: 200;
  font-size: .8rem;
}
#inputLeft{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
#itemName{
  font-weight:bold;
  font-size:1.1rem; 
  text-decoration:underline;
}
#itemNotes{
  word-wrap:normal;
}
#mylist_alt2input{
  width:100%; 
  display:flex;
  justify-content:space-around;
}
#mylistpage{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 0;
}
#whiteCheckbox{
  height:15px;
  width:15px;
  background-color: whitesmoke;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  margin-top:4px;
}
#whiteCheckbox:hover{
  cursor: pointer;
}
/**********************************************************
                                            CLASSES
**********************************************************/
.addItemArea{
  margin:1px;
  justify-content: space-around;
  width:80%;
  display:flex;
  justify-content: center;
}
.addItemHalf{
  flex:1;
  display:flex;
  flex-direction: column;
  /* padding:0 1%; */
  align-items: center;
}
.checkAndEdit{
  width:10%;
  max-width:10%;
}
.editInputItem{
  display:flex;
  white-space: nowrap;
  width:100%;
  align-items: center;
}
.editInputLabel{
  width:30%;
  text-align: right;
}
.editInputContent{
  width:70%;
  padding-left: 3%;
}
.item{
  width:60%;
  max-width:60%;
  justify-content: left;
  padding-left: 3%;
  word-wrap: normal;
}
.lookLikeBtn{
  border-radius: 5px;
  background-color: rgb(74, 73, 73);
  border: 2px solid rgba(2, 54, 2);
  padding: 5px;
  height:fit-content;
  width:fit-content;
  color:whitesmoke;
  margin-top:3px;
}
.lookLikeBtn:hover{
  border: 1px white solid;
  color:whitesmoke;
}
.section{
  width:20%;
  max-width: 20%;
  align-content:left;
}